*{
    margin:0
}

body{
   color: black;
}

/* 
JUSTIFY CONTENT:
    left
    right
    center
    space-between
    space-around
    space-evenly
*/

/* ===== GENERAL ===== */


p{
    color: black;
    font-size: 43px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* ======== HEADER ====== */

.header{
    width: 100vw;
    height: 80px;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header nav{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* ===== HERO ==== */
.hero{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction:column; 
    background-color: black;
   background-image: url(bg7.jpg) ; 
   background-attachment: fixed;
   background-size:contain;
   background-position: center;
   color:white;


}

.hero .hero-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 83px;
    text-shadow: 2px 3px rgb(87, 12, 12);
}
    
.hero p{
   color:white;

    font-size: 43px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* ===== WHAT WE OFFER ==== */

.what-we-offer{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    color:white;
    background-image: url(bg5.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
}

.what-we-offer .main-title{
    color: rgb(26, 26, 26)    ; 
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}

.what-we-offer h2{
    font-size: 55px;
    text-shadow: 2px 3px rgb(255, 58, 58);
}
.what-we-offer ul{
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-start;
}

/*.what-we-offer img{
    width:400px;
    height:400px
}
*/
.what-we-offer li{
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* ===== ORDER ==== */

.order{
    height: 100vh;
    width: 100vw;
    background-image: url(bg8.jpg);
    background-attachment: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}

.order h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 5vh;
    color: white;
    font-size: 80px;
    text-shadow: 2px 3px rgb(228, 185, 118);
}
.order label{
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.order input{
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(244, 191, 78);
    background-color: rgba(167, 136, 136, 0);
    height: 4%;
    display: flex;

}

.order select{
    width: 100%;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    border-bottom: 2px solid rgb(244, 191, 78);
}

.order h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 80px;
    text-shadow: 2px 3px rgb(46, 39, 15);
}

footer{
    height: 20vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer p{
    color: white;
    font-size: 18px;
}